.filter__item {
    width: 400px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.filter__item__name {
    width: 150px;
    justify-content: flex-start;
    display: flex;
}

.filter__item__numb {
    width: 190px;
    justify-content: flex-start;
    display: flex;
}

.spiner {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.basic {
    color: rgb(245, 104, 104);
    font-size: 18px;
    margin-right: 10px;
    text-align: center;
}