.basic {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic_text {
    color: rgba(245, 104, 104, 0.8);
    text-align: center;
}
