.link {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    color: #2a363b;
    background-color: rgba(245, 98, 142, 0.5);
    cursor: pointer;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    border: solid 2px rgb(247, 242, 235);
    font-size: 14px;
    padding: 10px 10px 10px 2px;
    text-align: center;
    margin-right: 15px;
  }

  .link:hover,
  .link:active {
    transition: 0.5s all ease;
    transform: scale(1.2);
    border: solid 2px rgb(245, 61, 116);
    background-color: rgb(243, 147, 2);
    color: white;
  }